.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

@media only screen and (min-device-width: 900px) and (min-width: 900px) {
  .row {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
  }
}