.placeholder {
  background: lightgray;
  width: 400px;
  height: 300px;
}

.project-info {
  width: 400px;
}

.project-info > h1 {
  margin-bottom: .5rem;
}

.project-stack {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.project-stack > span {
  color: gainsboro;
  margin-right: 1rem;
}

@media only screen and (min-device-width: 900px) and (min-width: 900px) {
  .row:nth-child(even) {
    flex-direction: row-reverse;
  }
}