.footer {
  background: midnightblue;
  font-size: .8rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.footer-cont {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 300px;
}

@media only screen and (min-device-width: 414px) and (min-width: 414px) {
  .footer {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width: 800px) and (min-width: 900px) {
  .footer-cont {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .footer-links {
    display: block;
    margin: 0;
    width: auto;
  }

  .footer-links > span {
    margin-left: 1rem;
  }
}
/*.footer {
  background: midnightblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.footer-links > span {
  margin-left: 1rem;
}

.footer-cont {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}*/