.footer {
  background: midnightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.footer > * {
  color: ghostwhite;
}

.footer-links > span {
  margin-left: 1rem;
}