.contact {
  background: ghostwhite;
  padding: 3rem 0;
  margin-top: 5rem;
}

.contact__about > p, p > a {
  color: rgba(0,0,0,0.5);
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact__info > a > p {
  color: rgba(0,0,0,0.5);
  transition: all .3s;
}

.slash {
  color: coral;
  font-weight: 500;
  margin-right: 5px;
}

@media only screen and (min-device-width: 800px) and (min-width: 900px) {
  .contact-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact__about {
    width: 50%;
  }
}