.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  width: 300px;
}

.nav > a {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.nav > a::after {
  background: black;
  bottom: -5px;
  position: absolute;
  content: '';
  left: 0;
  height: 2px;
  width: 100%;
  opacity: 0;
  transform: scale(0, 1);
  transition: transform .3s;
  visibility: hidden;
}

.nav > a:hover::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1,1);
  transform-origin: left top;
}

@media only screen and (min-device-width: 800px) and (min-width: 900px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .nav {
    margin: 0;
  }
}