.skills {
  width: 100%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col > span {
  margin: 3px 0;
}

@media only screen and (min-device-width: 450px) and (min-width: 450px) {
  .skills-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}