@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html {
  background: coral;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a  {
  text-decoration: none;
}

p {
  color: gray;
}

h1 {
/*  font-family: 'Roboto', sans-serif;
  font-weight: 500;*/
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h4 {
  color: midnightblue;
  font-weight: 500;
  margin-top: 0;
}

h5 {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.max-width {
  width: 80%;
  max-width: 1024px;
}