@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a  {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}