footer {
    height: 55px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

footer > div {
    display: flex;
    align-items: center;
}

footer > p {
    margin: 0;
}

.footer__icon {
    cursor: pointer;
    margin-left: 1rem;
}

.footer__icon:hover {
    color: gray;
}